/**
 * partials/header
 * ---
 */


// Header container
.header {
    .navbar {
        .navbar-brand {
            display: flex;
            flex: 1;
        }
    }
}

// Logo
.logo {}

.logo-img {}


.navbar-nav {
    > li {
        > a {
            @extend .menu-style;
            text-transform: uppercase;
        }
    }
}