$primary:#f59a00;
$secondary:#7b0041;
$body-color:#444444;
$body-color-onyellow:#3a230f;

$fondinoprimary:#f7d3d3;
$fondinosecondary:#fae3e3;
$fondinofourth:#f5dfb9;
$fondinofifth:#f5efe5;
$fondinosixth:#2c526d;

$filettoprimary:#7b0041;
$filettosecondary:#e1a5b9;
$filettothirdary:#ca7b34;
$filettofourth:#e5bd8e;
$filettofifth:#67c0ff;
$filettosixth:#3f759c;

$btn-border-radius-sm:20px;
$btn-padding-y-sm:6px;
$btn-padding-x-sm:20px;    