.tarta-aree-block {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid $filettosecondary;
    &:before {
        content: "";
        width: 65px;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $filettoprimary;
    }
    &:first-child {
        &:after {
            content: "";
            background-image: url(img/icons/counseling.png);
            background-size: cover;
            width: 62px;
            height: 65px;
            position: absolute;
            left: 0;
            bottom: 10px;
        }
    }
    &:nth-child(2) {
        &:after {
            content: "";
            background-image: url(img/icons/teatroterapia.png);
            background-size: cover;
            width: 68px;
            height: 65px;
            position: absolute;
            left: 0;
            bottom: 10px;
        }
    }
    &:nth-child(3) {
        &:after {
            content: "";
            background-image: url(img/icons/workshop.png);
            background-size: cover;
            width: 65px;
            height: 65px;
            position: absolute;
            left: 0;
            bottom: 10px;
        }
    }
}

.tarta-workshop-item {
    .tarta-workshop-img {
        > img {
            @include cover-media;
        }
    }
}