.white {
    color: #fff;
}

.fondino-primary {
    background-color: $fondinoprimary;
}

.fondino-secondary {
    background-color: $fondinosecondary;
}

.fondino-thirdary {
    background-color: #fff;
}